# AI-ML Test 2.0 (Pandas)

Name:- Akshay Pophali

Roll No:- MST02-0054

## Task 1: Basic Python Programming (20 Marks)

1. Write a function `fibonacci(n)` that generates the first `n` numbers in the Fibonacci sequence and returns the Fibonacci sequence

In [2]:
def fibonacci(n):
    # Initialize the first two numbers in the sequence
    fib_sequence = [0, 1]
    
    # Generate the sequence up to the nth number
    for i in range(2, n):
        next_number = fib_sequence[-1] + fib_sequence[-2]
        fib_sequence.append(next_number)
    
    return fib_sequence[:n]

# Test the function
ab = int(input("Enter the Number: "))
print(fibonacci(ab))

Enter the Number: 10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

2. Write a function `is_prime(num)` that checks if a given number is a prime number. Return `True` if the number is Prime else return false.

In [23]:
def is_prime(num):
    # Handle edge cases
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    
    # Check for factors up to the square root of the number
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    
    return True

# Test the function
exam = int(input("Enter the Number: "))
if is_prime(exam)==True:
    print("Number is Prime!")
else:
    print("Number is Not Prime!")

Enter the Number: 50
Number is Not Prime!

## Task 2: Data Manipulation with Pandas (30 Marks)

In [1]:
import pandas as pd

# Given data
data = {
    'Date': ['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05'],
    'Sales': [200, 220, 210, 215, 225],
    'Region': ['North', 'South', 'East', 'West', 'North'],
    'Manager': ['John', 'Jane', 'Joe', 'Jake', 'John']
}

# Load the dataset into a pandas DataFrame
df = pd.DataFrame(data)

In [2]:
# 1. Display the first 5 rows
print(df.head())

         Date  Sales Region Manager
0  2024-01-01    200  North    John
1  2024-01-02    220  South    Jane
2  2024-01-03    210   East     Joe
3  2024-01-04    215   West    Jake
4  2024-01-05    225  North    John

In [3]:
# 2. Add a new column `Profit` which is 10% of the `Sales` column
df['Profit'] = df['Sales'] * 0.10
print(df)

         Date  Sales Region Manager  Profit
0  2024-01-01    200  North    John    20.0
1  2024-01-02    220  South    Jane    22.0
2  2024-01-03    210   East     Joe    21.0
3  2024-01-04    215   West    Jake    21.5
4  2024-01-05    225  North    John    22.5

In [4]:
# 3. Group the data by `Region` and calculate the total sales for each region
total_sales_by_region = df.groupby('Region')['Sales'].sum()
print(total_sales_by_region)

Region
East     210
North    425
South    220
West     215
Name: Sales, dtype: int64

In [5]:
# 4. Find the region with the highest average sales
average_sales_by_region = df.groupby('Region')['Sales'].mean()
region_with_highest_avg_sales = average_sales_by_region.idxmax()
print(region_with_highest_avg_sales)

South

## Task 3: Data Loading and Manipulation from GitHub (10 Marks)

In [29]:
# 1. Load a CSV file from a GitHub repository into a pandas DataFrame
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
titanic_df = pd.read_csv(url)

In [30]:
# Display the first 5 rows of the DataFrame
print(titanic_df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [31]:
# 2. Display summary statistics of the DataFrame
print(titanic_df.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [32]:
# 3. Check for null values in the DataFrame and display the count of null values in each column
print(titanic_df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [33]:
# 4. Fill the null values in the 'Age' column with the mean age
titanic_df['Age'].fillna(titanic_df['Age'].mean(), inplace=True)

In [34]:
# 5. Drop the rows where 'Embarked' is null
titanic_df.dropna(subset=['Embarked'], inplace=True)

In [35]:
# 6. Create a new column 'FamilySize' which is the sum of 'SibSp' and 'Parch'
titanic_df['FamilySize'] = titanic_df['SibSp'] + titanic_df['Parch']

In [36]:
# 7. Convert the 'Sex' column to numerical values (male: 0, female: 1)
titanic_df['Sex'] = titanic_df['Sex'].map({'male': 0, 'female': 1})

In [37]:
# 8. Group the data by 'Pclass' and calculate the average fare for each class
average_fare_by_pclass = titanic_df.groupby('Pclass')['Fare'].mean()
print(average_fare_by_pclass)

Pclass
1    84.193516
2    20.662183
3    13.675550
Name: Fare, dtype: float64

In [38]:
# 9. Find the most common port of embarkation ('Embarked' column)
most_common_port = titanic_df['Embarked'].mode()[0]
print(most_common_port)

S

In [39]:
# 10. Create a pivot table that shows the survival rate ('Survived') for each combination of 'Sex' and 'Pclass'
pivot_table = titanic_df.pivot_table(values='Survived', index='Sex', columns='Pclass', aggfunc='mean')
print(pivot_table)

Pclass         1         2         3
Sex
0       0.368852  0.157407  0.135447
1       0.967391  0.921053  0.500000